@import "tailwindcss";
@plugin "@tailwindcss/forms";

@theme {
  --font-sans: "Roboto", sans-serif;

  --color-red-400: hsl(4, 100%, 67%);

  --color-blue-800: hsl(234, 29%, 20%);
  --color-blue-700: hsl(235, 18%, 26%);
  --color-gray-400: hsl(0, 0%, 58%);
}

@layer base {
  @font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
  }

  body {
    @apply text-blue-800;
  }
}

@layer components {
  .list-icon {
    @apply before:absolute before:top-0.5 before:-left-[2.3rem] before:content-[url(/images/icon-list.svg)];
  }
}

@layer utilities {
  .invalid {
    @apply border-red-400 bg-red-400/20 placeholder:text-red-400;
  }
}
